*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: sans-serif;
    font-weight: 400;
    height: 100vh;
    color: $color-primary;
    background-image: linear-gradient( to top left, $color-purple 0%, $color-blood 100% );
    display: flex;
    align-items: center;
    justify-content: center;
}
